<div class="class">
    <div class="form-card" style="margin-top: 120px;">
        <h2> NOUVEAU SITE </h2>
    <form [formGroup]="sites">   
        <div class="form-group">
            <label for="titre">Titre</label>
            <input id="titre" type="text" formControlName="titre">
        </div>
        <div class="form-group">
            <label for="description">Contenu</label>
            <textarea id="description" type="text" formControlName="contenu" rows="4">
            </textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">URL de l'image</label>
            <input id="imageUrl" type="text" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="adresse">Adresse</label>
            <input id="adresse" type="text" formControlName="adresse">
        </div>
        <div class="form-group">
            <label for="region">Region</label>
            <!--<input id="region" type="text" formControlName="region">-->
                <select id="region" type="text" formControlName="region" style="width: 50%;"><!--requetes back-->
                    <option>Centre</option>
                    <option>Littoral</option>
                    <option>Est</option>
                    <option>Ouest</option>
                    <option>Sud</option>
                    <option>Nord</option>
                    <option>Extreme-Nord</option>
                    <option>Adamaoua</option>
                    <option>Sud-Ouest</option>
                    <option>Nord-Ouest</option>
                </select>
        </div>
        <div class="form-group">
            <label for="ville">Ville</label><!--requetes back-->
            <input id="ville" type="text" formControlName="ville">
        </div>
        <div class="form-group">
            <label for="categorie">Categorie</label><!--requetes back-->
            <input id="categorie" type="text" formControlName="categorie">
        </div>
        <div class="form-group">
            <label for="type">Type</label><!--requetes back-->
            <input id="type" type="text" formControlName="type">
        </div>
        <div class="form-group">
            <label for="latitude">Latitude</label>
            <input id="latitude" type="text" formControlName="latitude">
        </div>
        <div class="form-group">
            <label for="longitude">Longitude</label>
            <input id="longitude" type="text" formControlName="longitude">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </form>
    </div>
    
    <div class="site-view-card" *ngIf="sitePreview$ | async as sites">
        
        <!--<p>Mis en ligne {{ sites.createDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>-->
        <img [src]='sites.imageUrl' [alt]="sites.titre">
        <h2>{{ sites.titre | uppercase }}</h2>
        <p>{{ sites.contenu }}</p>
        <p *ngIf="sites.adresse">Photo prise à {{ sites.adresse }}</p>
    </div>
    </div>